
<h1 class="">Dashboard</h1>
<p class="l">Welcome <%= user.name %></p>
<a href="/addProject" class="btn dashboard-btn">Add A Project!</a>
<a href="/users/logout" class="btn dashboard-btn">Logout</a>
<div id="favs"></div>