<style>
    .center {
        margin: auto;
        max-width: 600px;
        padding: 10px;
        text-align: center;
    }
    .center1 {
        margin: auto;
        max-width: 250px;
        padding: 10px;
    }
</style>
<h1 class="mt-5">Dashboard</h1>
<h2 class="center">Welcome <%= user.name %></h2>
<div class="form-group center1">
    <a href="/addProject" class="btn btn-primary">Add A Project!</a>
    <a href="/users/logout" class="btn btn-primary">Logout</a>
</div>
<div id="favs"></div>