<div class="container mt-5" id="projectsContent">
  <div class="row">
    <div class="col">
      <h1>Projects</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="projects"></div>
    </div>
  </div>
</div>
<script src="./scripts/projectsView.js" onload="loadDoc()"></script>