<h1>Projects</h1>
<div class="d-flex flex-row justify-content-center flex-wrap">
    <div class="card">
        <img src="https://ipt.imgix.net/205939/x/0/.jpg?w=860&h=480&fit=crop&auto=format%2C%20compress&dpr=2&ixlib=react-8.6.4" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">{PROJECT NAME}</h5>
            <h6 class="card-subtitle text-muted">{ORGANIZER}</h6>
            <p class="card-text">Some quick example text to build on the project title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link btn btn-outline-primary">Voulenteer</a>
        </div>
        <div class="card-footer text-muted">
            Added 2 days ago
        </div>
    </div>


        <div class="card">
        <img src="https://ipt.imgix.net/205939/x/0/.jpg?w=860&h=480&fit=crop&auto=format%2C%20compress&dpr=2&ixlib=react-8.6.4" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">{PROJECT NAME}</h5>
            <h6 class="card-subtitle text-muted">{ORGANIZER}</h6>
            <p class="card-text">Some quick example text to build on the project title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link btn btn-outline-primary">Voulenteer</a>
        </div>
        <div class="card-footer text-muted">
            Added 2 days ago
        </div>
    </div>

        <div class="card">
        <img src="https://ipt.imgix.net/205939/x/0/.jpg?w=860&h=480&fit=crop&auto=format%2C%20compress&dpr=2&ixlib=react-8.6.4" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">{PROJECT NAME}</h5>
            <h6 class="card-subtitle text-muted">{ORGANIZER}</h6>
            <p class="card-text">Some quick example text to build on the project title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link btn btn-outline-primary">Voulenteer</a>
        </div>
        <div class="card-footer text-muted">
            Added 2 days ago
        </div>
    </div>

        <div class="card">
        <img src="https://ipt.imgix.net/205939/x/0/.jpg?w=860&h=480&fit=crop&auto=format%2C%20compress&dpr=2&ixlib=react-8.6.4" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">{PROJECT NAME}</h5>
            <h6 class="card-subtitle text-muted">{ORGANIZER}</h6>
            <p class="card-text">Some quick example text to build on the project title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link btn btn-outline-primary">Voulenteer</a>
        </div>
        <div class="card-footer text-muted">
            Added 2 days ago
        </div>
    </div>

        <div class="card">
        <img src="https://ipt.imgix.net/205939/x/0/.jpg?w=860&h=480&fit=crop&auto=format%2C%20compress&dpr=2&ixlib=react-8.6.4" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">{PROJECT NAME}</h5>
            <h6 class="card-subtitle text-muted">{ORGANIZER}</h6>
            <p class="card-text">Some quick example text to build on the project title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link btn btn-outline-primary">Voulenteer</a>
        </div>
        <div class="card-footer text-muted">
            Added 2 days ago
        </div>
    </div>
    


</div>