<div class="container mt-5" id="projectsContent">
  <div class="row">
    <div class="col">
      <h1>Projects</h1>
      <div class="search-box rounded">
        <input id="searchInput" class="form-control" type="text" placeholder="Search by title, location, or tags">
        <button type="submit" onclick="onSearch()" class="input-group-addon btn btn-success">Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="projects"></div>
    </div>
  </div>
</div>
<script>
  let urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('search')) {
    document.getElementById('searchInput').value = urlParams.get('search');
  }
</script>
<script src="./scripts/projectsView.js" onload="loadDoc()"></script>
<script src="/scripts/projectsSearch.js"></script>