html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

main {
  flex: 1;
}

footer {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

/* LOGIN/SIGNUP  */
.register-container,
.login-container {
  display: flex;
  justify-content: center;
}

 /* ADD PROJECT */
#addProjectContent {
  max-width: 700px;
}

/* OVERRIDES */
.card {
  margin: 1%;
  width: 500px;
}

.tag {
  padding: 0.3em 0.5em 0.3em 0.5em;
  margin: 0.2em 0.5em 0.2em 0;
  display: flex;
  align-items: center;
  width: fit-content;
}

.badge-text {
  padding-right: 0.5em;
  line-height: 20px;
}
